.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-toggle {
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}
  
.dropdown-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    // left: 0;
    right: 0;
    z-index: 1;
    display: none;
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: #33333F;
    border-radius: 10px;
    min-width: 200px;
    margin: -30px 0;
}
  
.dropdown-menu li {
    padding: 8px 16px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #727179;
}
  
.dropdown-menu li:hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  