img(src=PathToUserImage, alt="User avatar")(class=ClassName)
    div.header__companion__info.flex
    if UserName
        h4.companion__info__title
            !=UserName
        span.companion__info__time
            !=UserStatus