.header__avatar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__avatar__username {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-left: 10px;
}


.header__avatar__status {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #CDCDCD;
}