$bot-width: 180px;

.white-button {
  width: $bot-width;
  height: 29px;
  background: #1C1C24;
  border: 0px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;

  &:hover {
    background: #1C1C24;
  }
}
