main.main.flex
    section.header-offset.view-chat.flex
        .view-chat__header.flex
            .view-chat__header__companion.flex
                !=HeaderUserAvatar
            ul.view-chat__header__icons.flex
                !=MoreInfoBtn
        .view-chat__messages.flex
            // TODO: MessageList
            !=MessageList
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
            p(class="messages__message message-right") Это строка текста с атрибутом class
            p(class="messages__message message-left") Это строка текста с атрибутом class
        !=Input
