main.main.flex
    section.header-offset.view-chat.flex
        .view-chat__header.flex
            .view-chat__header__companion.flex
                !=HeaderUserAvatar
            ul.view-chat__header__icons.flex
                !=EditBtn
                !=DeleteChatBtn
        .view-chat__messages.flex
            for i in MessageList
                !=i
        !=Input
        !=SubsribeBtn
