main.main.flex
    section.header-offset.view-chat.flex
        .view-chat__header.flex
            .view-chat__header__companion.flex
                !=HeaderUserAvatar
            ul.view-chat__header__icons.flex
                !=EditBtn
                if DeleteChatBtn
                    !=DeleteChatBtn
                else
                    .view-chat__header__icons__leave-group!=LeaveGroupBtn
                if Subscriberes > 2
                    .channel__subscribers Участники 
                        !=Subscriberes
        .view-chat__messages.flex
        .view-chat__message-input
            //- if Input
            //-     !=Input
        if SubsribeBtnText
            button.btn-reset.subscribe-btn.flex!=SubsribeBtnText
    section.attachments.flex
        .attachments__heder.flex
            span= 'Вложения'
