main.main.flex
    section.header-offset.view-chat.flex
        .view-chat__header.flex
            .view-chat__header__companion.flex
                !=HeaderUserAvatar
            ul.view-chat__header__icons.flex
                !=MoreInfoBtn
                !=DeleteChatBtn
        .view-chat__messages.flex
            !=MessageList
        !=Input
