.profile {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

.profile__user-description {
    height: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
}

.profile__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
}

.profile__input {
    height: 66px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-bottom: 25px;
}
