.profile
    .profile__top
        != avatar

        .profile__user-description
            .font-size-1!= nickname
            .font-size-2!= username
            .font-size-3!= status

    .profile__inputs
        .profile__input
            != nicknameHeader
            != nicknameInput
            != emptyNickname
            != invalidNickname

        .profile__input
            != usernameHeader
            != usernameInput
            != occupiedUsername

        .profile__input
            != statusHeader
            != statusInput

        .profile__input
            != currentPasswordHeader
            != currentPasswordInput
            != emptyPassword
            != invalidPassword

        .profile__input
            != newPasswordHeader
            != newPasswordInput
            != emptyNewPassword
            != invalidNewPassword

    != buttonSave
