.profile.flex
    .profile__top.flex
        != avatar
        .profile__user-description.flex
            .font-size-1!= nickname
            .font-size-2!= username
            .font-size-3!= status

    .profile__inputs.flex
        .profile__input.flex
            != nicknameHeader
            != nicknameInput
            != emptyNickname
            != invalidNickname
        .profile__input.flex
            != usernameHeader
            != usernameInput
            != occupiedUsername
        .profile__input.flex
            != statusHeader
            != statusInput
        .profile__input.flex
            != currentPasswordHeader
            != currentPasswordInput
            != emptyPassword
            != invalidPassword
            != incorrectPassword
        .profile__input.flex
            != newPasswordHeader
            != newPasswordInput
            != emptyNewPassword
            != invalidNewPassword
    != buttonSave
