.profile
    .profile__top
        != avatar

        .profile__user-description
            .font-size-1!= nickname 
            .font-size-2!= '@' + username
            .font-size-3!= status

    .profile__inputs 
        .profile__input
            != nameHeader 
            != nameInput

        .profile__input
            != nickHeader 
            != nickInput

        .profile__input
            != statusHeader 
            != statusInput

        .profile__input
            != currentPasswordHeader
            != currentPasswordInput
        
        .profile__input
            != newPasswordHeader
            != newPasswordInput

    != buttonSave 
