mixin profile(name)
    div.header__img.flex
        img(src="../../assets/img/logo.png", alt="Our logo").header__logo
        img(src=`../../assets/img/${name}`, alt="User avatar").header__user-photo
