include ../ui/Navitem/navitem.pug

- const listConfig = {navList: "nav__list", svgMessage: "message", svgCalls: "calls",  svgSettings: "settings"}

mixin getList(typeList)
    case typeList
        when listConfig.navList
            ul.nav__list.flex
                +navitem("+48", listConfig.svgMessage)
                +navitem("+2", listConfig.svgCalls)
                +navitem("", listConfig.svgSettings)