include ../../components/ui/loginReg/top/top.pug
include ../../components/ui/loginReg/bottom/bottom.pug
include ../../components/ui/loginReg/input/input.pug

.reg.flex
    +loginRegTop('reg')
    +loginRegInput('email')
    +loginRegInput('nick')
    +loginRegInput('password')
    +loginRegInput('confirm password')
    +loginRegBottom('reg')
