.create-group {
  min-width: 100%;
  min-height: 100%;
  background-color: #131318;
  justify-content: center;
  align-items: center;
}

.create-group__header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-group__input {
  padding-top: 7%;
  padding-bottom: 7%;
}

.create-group__contacts {
  min-height: 100%;
  min-width: 10%;
  background: #1C1C24;
  padding: 20px;
}

.contacts__head-create {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8%
}

.create-group__contacts__contacts {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
