.change-group.flex
    .change-group__form.flex
        .change-group__name.font-size-1!= groupNameLabel
        .change-group__input
            != groupNameInput
        .font-size-1!= buttonCreateGroup
    .change-group__members-list.flex
        .chat-group__members-list__header.font-size-6!= headContacts
        .contacts__separator.separator-offset
        for contact in contacts
            != contact
            