/* main */
main {
    width: 100%;
}

#main {
    height: 100vh;
}

.message-field__svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*view chat section*/
.view-chat {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.view-chat__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 21px 68px 21px 27px;
    background: rgba(25, 26, 31, 0.5);
    min-width: 100%;
}

.view-chat__header__companion {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}