//- include ../../components/header/header.pug
//- include ../../components/chatList/chatList.pug
//- include ../../components/ui/input/input.pug
//- include ../../components/ui/button/button.pug

.chat-page.flex!= simpleButton
