main.main.flex
    section.header-offset.create-channel.flex
        .create-channel__header.flex
            button.btn-reset.create-channel__header__back Назад
            .create-channel__header__text Новый канал
            button.btn-reset.create-channel__heder__done-btn Готово
        .create-channel__form.flex
            .create-channel__form__name-section.flex
                .name-section__header Имя канала
                .name-section__input.flex
                    img(src="./assets/img/logo.png").input__avatar
                    input(type="text" placeholder="Введите имя канала").input__text
                .description-section__header Описание
                .description-section__input.flex
                    input(type="text" placeholder="Введите описание канала").input__text
