.create-channel {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.create-channel__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(25, 26, 31, 0.5);
    min-width: 100%;
    padding: 20px;
    margin-bottom: 20%;
}

.create-channel__header__back {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #46474C;
    transition: color 0.2s ease-in-out;
}

.create-channel__header__back:hover {
    color: #0782C7;
}

.create-channel__header__back:active {
    color: #095581;
}

.create-channel__header__back:focus {
    color: #166490;
}

.create-channel__header__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
}

.create-channel__heder__done-btn {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #46474C;
    transition: color 0.2s ease-in-out;
}

.create-channel__heder__done-btn:hover {
    color: #0782C7;
}

.create-channel__heder__done-btn:active {
    color: #095581;
}

.create-channel__heder__done-btn:focus {
    color: #166490;
}

.create-channel__form {
    align-items: center;
    justify-content: center;
    align-self: center;
    min-width: 50%;
}

.create__channel__form__fields {
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
}

.create-channel__form__name-section {
    align-items: center;
    justify-content: center;
    min-width: 50%;
    margin-bottom: 20px;
}

.create-channel__form__description-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 50%;
}

.name-section__header {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    min-width: 100%;
}

.name-section__input {
    flex-direction: column;
    min-width: 100%;
    border-radius: 15px;
}

.input__text {
    width: 100%;
    padding: 10px;  
    background: #1C1C24;
    border: 1px solid #1B262C;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
}

.description-section__header {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    min-width: 100%;
}

.description-section__input {
    min-width: 100%;
}

.create-channel__form__button {
    align-self: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 15px;
    background-color: #1C1C24;
}

@media (max-width: 767px) {
    .create-channel {
      align-items: center;
    }
  
    .create-channel__header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-width: auto;
      padding: 30px;
    }
  
    .create-channel__header__back {
      color: #fff;
      margin-bottom: 10px;
    }
}
  
  