main.main.flex
    section.header-offset.create-channel.flex
        .create-channel__header.flex
            button.btn-reset.create-channel__header__back Назад
            .create-channel__header__text Новый канал
            button.btn-reset.create-channel__heder__done-btn Готово
        .create-channel__form.flex
            img(src="./assets/img/logo.png").create-channel__form__image
            .create__channel__form__fields.flex
                .create-channel__form__name-section.flex
                    .name-section__input.flex
                        .name-section__header Название канала
                        input(type="text" placeholder="Введите название канала").input__text
                .create-channel__form__description-section.flex
                    .description-section__header Описание
                    .description-section__input.flex
                        input(type="text" placeholder="Введите описание канала").input__text
