/* chat-list section */
.chat-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 0px;
    min-width: 389px;
    background-color: #1C1C24;
    height: 100vh;
    overflow: auto;
}

.chat-list__child {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}

.message-type__header__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #59585D;
    padding: 0px 10px;
}

/* svg икнонка */
.chats__header__icon {
    
}

/* svg икнонка */
.chats__header__arrow {

}

.messages-type__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    min-height: 120px;
}

.messages-type__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s ease-in-out all;
    width: 100%;
    padding: 0px 10px;
    cursor: pointer;
}

.messages-type__item:hover {
    background-color: #1B262C;
}

.messages-type__item:not(:last-child) {
    margin-bottom: 5px;
}

/* group-info section */
.group-info{
    background: #18171D;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 38px 25px 0px 27px;
    /* min-width: 100%; */
}

.group-info__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.group-info__header__arrow {
    min-width: 28px;
    min-height: 28px;
    border-radius: 14px;
    background-color: #112235;
    margin-right: 61px;
}

.group-info__header__logo {
    margin-right: 10px;
}

.group-info__header__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}