$online-circle-color: #5FD641;

.avatar {
    position: relative;
}

.user-photo__online-status {
    fill: $online-circle-color;
    position: absolute;
    top: 40px;
    right: 4px;
}

.header__user-photo {
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    margin-bottom: 33px;
}

.contact__item__img {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background: #112235;
}

.create-channel__form__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background: none;
    object-fit: cover;
    cursor: pointer;
    margin-right: 20px;
}