.message-input {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1C1C24;
    border: 1px solid #1B262C;
    border-radius: 10px;
    width: 100%;

    &__attachment {
        display: none;
        padding: 18px 18px 18px 18px;

        &--show {
            display: block; 
        }
    }

    &__text-field {
        position: relative;
        min-width: 100%;
        min-height: 60px;

        &__in {
            margin: 0px;
            min-height: 60px;
            min-width: 100%;
            max-height: 500px;
            outline: none;
            background: #1C1C24;
            border: 1px solid #1B262C;
            border-radius: 10px;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #78777C;
            padding: 18px 100px 18px 50px;

            &:focus {
                color: #ffffff;    
            }
        }
    }

    &__emoji-stickers {
        display: none;
        max-height: 30vh;
        overflow: auto;

        &--show {
            display: block; 
        }
    }

    &__emoji {
        flex-wrap: wrap;
        padding: 18px 18px 18px 18px;
    }

    &__stickers {
        flex-wrap: wrap;
        padding: 18px 18px 18px 18px;
    }
}

.view-chat__send-message-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.view-chat__add-attachment-button {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.view-chat__add-emoji-sticker {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
