.message-input.flex(class=className)
    .message-input__attachment
    .message-input__text-field
        input.message-input__text-field__in(type="text" placeholder="Сообщение")
        for i in icons 
            !=i
    .message-input__emoji-stickers.flex
        .message-input__emoji.flex
        .message-input__stickers.flex
