.form {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__form {
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-top: 5%;
}