// .popup {
//   position: fixed;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   z-index: 9999;
//   padding: 10px;

//   &__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//   }

//   &__title {
    // margin: 0;
    // font-size: 20px;
    // font-weight: 500;
    // color: #ffffff;
    // margin-bottom: 10%;
//   }
// }

.logout-popup {
  transform: translate(-50%, -50%);
  border-radius: 10px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    &__content {
      width: 60%;
      height: 50%;
      max-width: 600px;
      border-radius: 10px;
      background-color: #0C0C15;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
  
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #f0f0f0;
  
        &__title {
          margin: 0;
          font-size: 20px;
          font-weight: 500;
          color: #ffffff;
          margin-bottom: 10%;
        }
  
        &__close-btn {
          border: none;
          background-color: transparent;
          cursor: pointer;
  
          &:hover {
            color: #f44336;
          }
        }
      }
  
      &__body {
        padding: 16px;
      }
    }
}
  
.popup__title {
  margin: 0;
  // font-size: 20px;
  color: #ffffff;
  margin-bottom: 10%;
  z-index: 1;
  font-family: 'Actor';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.popup__btn:not(:last-child) {
  margin-right: 20px;
}