div(class=ClassName)
    input(class=UniqClassName)(type="text", placeholder=Placeholder)
    .input__errors.flex
        each error in Errors
            span(class=error.class).login-reg__error.invisible
                !=error.message