mixin svgButton(svgClassName)
    case svgClassName
        when "change-theme__black"
            button.btn-reset
                <svg class="change-theme__black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9616 12.5673C19.4839 14.2774 18.5667 15.8325 17.3015 17.078C16.0362 18.3236 14.4669 19.2161 12.7497 19.6669C11.0325 20.1176 9.2272 20.1108 7.51341 19.6472C5.79962 19.1836 4.23706 18.2794 2.98117 17.0244C1.72528 15.7694 0.819825 14.2074 0.354882 12.4938C-0.11006 10.7803 -0.11829 8.97479 0.331013 7.25704C0.780315 5.5393 1.67149 3.96913 2.91589 2.70274C4.16029 1.43635 5.71454 0.517869 7.42403 0.0386658C7.54928 -0.00166781 7.68252 -0.0106137 7.81204 0.0126145C7.94155 0.0358427 8.06338 0.0905337 8.16681 0.17188C8.27024 0.253227 8.35211 0.358738 8.40521 0.479139C8.45832 0.59954 8.48104 0.731144 8.47137 0.862383C8.4711 0.924642 8.4608 0.98645 8.44087 1.04543C8.03746 2.50163 8.0275 4.0388 8.41201 5.5001C8.79652 6.96141 9.56174 8.29456 10.6296 9.36355C11.6975 10.4326 13.0297 11.1991 14.4905 11.5851C15.9513 11.9711 17.4883 11.9626 18.9448 11.5605L19.1685 11.5199C19.3454 11.5185 19.5181 11.5741 19.6609 11.6785C19.8038 11.7829 19.9092 11.9305 19.9616 12.0995C20.0128 12.2513 20.0128 12.4156 19.9616 12.5673Z" fill="#2198B6"/>
                </svg>
        when "change-theme__white"
            button.btn-reset
                <svg class="change-theme__white" width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 15C12.0609 15 13.0783 14.5786 13.8284 13.8284C14.5786 13.0783 15 12.0609 15 11C15 9.93913 14.5786 8.92172 13.8284 8.17157C13.0783 7.42143 12.0609 7 11 7C9.93913 7 8.92172 7.42143 8.17157 8.17157C7.42143 8.92172 7 9.93913 7 11C7 12.0609 7.42143 13.0783 8.17157 13.8284C8.92172 14.5786 9.93913 15 11 15Z" stroke="#9AB5BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 7C10.4696 7.53043 10.1716 8.24985 10.1716 9C10.1716 9.75015 10.4696 10.4696 11 11C11.5304 11.5304 12.2499 11.8284 13 11.8284C13.7501 11.8284 14.4696 11.5304 15 11M11 1V3M11 19V21M3.93 3.93L5.34 5.34M16.66 16.66L18.07 18.07M1 11H3M19 11H21M5.34 16.66L3.93 18.07M18.07 3.93L16.66 5.34" stroke="#9AB5BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

mixin buttonList(listType)
    if listType == "change-theme"
        div.header__change-theme.change-theme.flex
            +svgButton("change-theme__white")
            +svgButton("change-theme__black")