mixin svgButton(svgClassName)
    case svgClassName
        when "change-theme__black"
            button.btn-reset
                <svg class="change-theme__black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9616 12.5673C19.4839 14.2774 18.5667 15.8325 17.3015 17.078C16.0362 18.3236 14.4669 19.2161 12.7497 19.6669C11.0325 20.1176 9.2272 20.1108 7.51341 19.6472C5.79962 19.1836 4.23706 18.2794 2.98117 17.0244C1.72528 15.7694 0.819825 14.2074 0.354882 12.4938C-0.11006 10.7803 -0.11829 8.97479 0.331013 7.25704C0.780315 5.5393 1.67149 3.96913 2.91589 2.70274C4.16029 1.43635 5.71454 0.517869 7.42403 0.0386658C7.54928 -0.00166781 7.68252 -0.0106137 7.81204 0.0126145C7.94155 0.0358427 8.06338 0.0905337 8.16681 0.17188C8.27024 0.253227 8.35211 0.358738 8.40521 0.479139C8.45832 0.59954 8.48104 0.731144 8.47137 0.862383C8.4711 0.924642 8.4608 0.98645 8.44087 1.04543C8.03746 2.50163 8.0275 4.0388 8.41201 5.5001C8.79652 6.96141 9.56174 8.29456 10.6296 9.36355C11.6975 10.4326 13.0297 11.1991 14.4905 11.5851C15.9513 11.9711 17.4883 11.9626 18.9448 11.5605L19.1685 11.5199C19.3454 11.5185 19.5181 11.5741 19.6609 11.6785C19.8038 11.7829 19.9092 11.9305 19.9616 12.0995C20.0128 12.2513 20.0128 12.4156 19.9616 12.5673Z" fill="#2198B6"/>
                </svg>
        when "change-theme__white"
            button.btn-reset
                <svg class="change-theme__white" width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 15C12.0609 15 13.0783 14.5786 13.8284 13.8284C14.5786 13.0783 15 12.0609 15 11C15 9.93913 14.5786 8.92172 13.8284 8.17157C13.0783 7.42143 12.0609 7 11 7C9.93913 7 8.92172 7.42143 8.17157 8.17157C7.42143 8.92172 7 9.93913 7 11C7 12.0609 7.42143 13.0783 8.17157 13.8284C8.92172 14.5786 9.93913 15 11 15Z" stroke="#9AB5BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 7C10.4696 7.53043 10.1716 8.24985 10.1716 9C10.1716 9.75015 10.4696 10.4696 11 11C11.5304 11.5304 12.2499 11.8284 13 11.8284C13.7501 11.8284 14.4696 11.5304 15 11M11 1V3M11 19V21M3.93 3.93L5.34 5.34M16.66 16.66L18.07 18.07M1 11H3M19 11H21M5.34 16.66L3.93 18.07M18.07 3.93L16.66 5.34" stroke="#9AB5BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        when "chat-info__button"
            button.btn-reset.group-info__header__arrow
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292893 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM16 7L1 7V9L16 9V7Z" fill="#FBFCFC"/>
                </svg>
        when "view-chat__header__button-first"
            button.btn-reset.header__icons__item
                li
                    <svg class="header__icons__item__color" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.2545 20C6.39526 20 0 13.6047 0 5.74551C0.000391706 4.33992 0.513062 2.98265 1.44203 1.92781C2.37101 0.872963 3.65259 0.192859 5.04686 0.0148178C5.46109 -0.0369869 5.88091 0.0478656 6.2425 0.256478C6.6041 0.465091 6.8877 0.786055 7.05019 1.17059L8.98611 5.67809C9.11394 5.97037 9.1668 6.28993 9.13989 6.6078C9.11298 6.92567 9.00715 7.2318 8.832 7.49843L7.34877 9.75218C8.00586 10.9939 9.02317 12.0079 10.2671 12.6609L12.4919 11.1776C12.7595 11.0009 13.0669 10.8934 13.3863 10.8648C13.7057 10.8363 14.0272 10.8875 14.3219 11.0139L18.8294 12.9498C19.2139 13.1123 19.5349 13.3959 19.7435 13.7575C19.9521 14.1191 20.037 14.5389 19.9852 14.9531C19.8071 16.3474 19.127 17.629 18.0722 18.558C17.0173 19.4869 15.6601 19.9996 14.2545 20ZM5.04686 2.35525C4.27209 2.52258 3.57805 2.95032 3.08033 3.5672C2.58262 4.18409 2.31129 4.95288 2.31154 5.74551C2.31409 8.91219 3.57318 11.9484 5.81237 14.1876C8.05155 16.4268 11.0878 17.6859 14.2545 17.6885C15.0471 17.6887 15.8159 17.4174 16.4328 16.9197C17.0497 16.422 17.4774 15.7279 17.6447 14.9531L13.5996 13.2195L11.3651 14.7124C11.0872 14.8962 10.7665 15.0053 10.4341 15.0289C10.1017 15.0525 9.7688 14.9899 9.46768 14.8472C7.59817 13.9418 6.08584 12.4363 5.17207 10.5708C5.02512 10.2713 4.95935 9.93838 4.98132 9.60543C5.00329 9.27248 5.11224 8.95112 5.29728 8.67346L6.78051 6.40044L5.04686 2.35525Z" fill="#46474C"/>
                    </svg>
        when "view-chat__header__button-second"
            button.btn-reset.header__icons__item
                li
                    <svg class="header__icons__item__color" width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.33333 0H15.1667C16.45 0 17.5 1.05 17.5 2.33333V11.6667C17.5 12.95 16.45 14 15.1667 14H2.33333C1.05 14 0 12.95 0 11.6667V2.33333C0 1.05 1.05 0 2.33333 0Z" fill="#46474C"/>
                    <path d="M23.3333 13.4166L17.5 9.91658V4.08325L23.3333 0.583252V13.4166Z" fill="#46474C"/>
                    </svg>
        when "view-chat__header__button-third"
            button.btn-reset.header__icons__item
                li
                    <svg class="header__icons__item__color" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#44484B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.0004 18.9999L14.6504 14.6499" stroke="#44484B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        when "view-chat__header__button-fourth"
            button.btn-reset.header__icons__item
                li
                    <svg class="header__icons__item__color" width="5" height="23" viewBox="0 0 5 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="2.5" cy="2.5" r="2.5" fill="#48494E"/>
                    <circle cx="2.5" cy="11.5" r="2.5" fill="#48494E"/>
                    <circle cx="2.5" cy="20.5" r="2.5" fill="#48494E"/>
                    </svg>
        when "chat-list__header__write-message-button"
            button.btn-reset
                <svg class="chat-list__header__title__view__mess" width="19" height="20" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 20C1.45 20 0.979002 19.804 0.587002 19.412C0.195002 19.02 -0.000664969 18.5493 1.69779e-06 18V2C1.69779e-06 1.45 0.196001 0.979002 0.588001 0.587002C0.980001 0.195002 1.45067 -0.000664969 2 1.69779e-06H10L16 6V9.1L8 17.075V20H2ZM10 20V17.875L15.15 12.7L17.3 14.8L12.125 20H10ZM18.025 14.1L15.9 11.975L16.6 11.275C16.8 11.075 17.0417 10.975 17.325 10.975C17.6083 10.975 17.8417 11.075 18.025 11.275L18.725 12C18.9083 12.2 19 12.4377 19 12.713C19 12.9883 18.9083 13.2173 18.725 13.4L18.025 14.1ZM9 7H14L9 2V7Z" fill="#3E9AE3"/>
                </svg>
        when "view-chat__send-message-button"
            button.btn-reset
                <svg class="message-field__svg" width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_214_5)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2958 4.42997C16.5223 4.32596 16.7702 4.29008 17.0138 4.32608C17.2573 4.36208 17.4876 4.46863 17.6806 4.63465C17.8735 4.80067 18.0222 5.02008 18.1111 5.27005C18.2 5.52002 18.2258 5.79141 18.1859 6.05597L16.1069 19.813C15.9053 21.14 14.5706 21.901 13.455 21.24C12.5218 20.687 11.1358 19.835 9.88917 18.946C9.26584 18.501 7.35642 17.076 7.59109 16.062C7.79275 15.195 11.0011 11.937 12.8344 9.99997C13.554 9.23897 13.2258 8.79997 12.3761 9.49997C10.265 11.238 6.87792 13.881 5.75775 14.625C4.76959 15.281 4.25442 15.393 3.63842 15.281C2.51459 15.077 1.47234 14.761 0.621671 14.376C-0.527829 13.856 -0.471913 12.132 0.620754 11.63L16.2958 4.42997Z" fill="#2699D1"/>
                </g>
                <defs>
                <clipPath id="clip0_214_5">
                <rect width="22" height="24" fill="white"/>
                </clipPath>
                </defs>
                </svg>
        when "chat-header__icon-first"
            button.btn-reset
                <svg class="header-item chats__header__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.096 2.38496C5.86774 2.28613 5.61849 2.24562 5.37068 2.26706C5.12286 2.28851 4.88428 2.37124 4.67639 2.50781C4.4685 2.64439 4.29784 2.83052 4.17977 3.04945C4.0617 3.26837 3.99992 3.51323 4 3.76196V21C4 21.2652 4.10536 21.5195 4.29289 21.7071C4.48043 21.8946 4.73478 22 5 22C5.26522 22 5.51957 21.8946 5.70711 21.7071C5.89464 21.5195 6 21.2652 6 21V16.657L19.339 10.877C20.544 10.354 20.544 8.64596 19.339 8.12396L6.096 2.38496Z" fill="#312E3F"/>
                </svg>
        when "chat-header__icon-second"
            button.btn-reset
                <svg class="header-item chats__header__icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="1.94116" width="16" height="15.0588" rx="4" fill="#3E3B4A"/>
                <path d="M7.92188 15L8.51562 12.0312H6.49219L5.89062 15H4.17188L4.75781 12.0312H3L3.32031 10.3438H5.09375L5.51562 8.23438H3.71875L4.03906 6.5625H5.85156L6.42969 3.71875H8.14844L7.58594 6.5625H9.60938L10.1797 3.71875H11.9141L11.3438 6.5625H13.1875L12.875 8.23438H11.0078L10.5781 10.3438H12.4609L12.1484 12.0312H10.25L9.65625 15H7.92188ZM6.67969 10.4922H8.92188L9.41406 8.09375H7.16406L6.67969 10.4922Z" fill="#302F3F"/>
                </svg>
        when "chat-header__icon-third"
            button.btn-reset
                <svg class="header-item chats__header__arrow" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928934C14.6805 0.53841 14.0474 0.538409 13.6569 0.928934L8 6.58579L2.34315 0.928931C1.95262 0.538406 1.31946 0.538406 0.928933 0.92893C0.538409 1.31945 0.538409 1.95262 0.928933 2.34314L7.29289 8.70711ZM7 6L7 8L9 8L9 6L7 6Z" fill="#59585D"/>
                </svg>
        when "nav-item__button"
            button.btn-reset.flex
                <svg class="nav__item__svg__color nav__item__svg" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.0713 3.15294C11.7993 1.23441 14.5074 0 17.5503 0C22.7694 0 27.0003 3.63156 27.0003 8.11219C27.0003 10.8014 25.4748 13.185 23.1285 14.6614C23.07 14.6973 23.0106 14.7315 22.9503 14.7642V20.2399C22.9503 20.5091 22.87 20.7722 22.7198 20.9954C22.5696 21.2186 22.3563 21.3919 22.1072 21.493C21.8581 21.594 21.5845 21.6183 21.3215 21.5627C21.0585 21.5072 20.8181 21.3742 20.631 21.1809L19.092 19.5936C20.5351 17.8847 21.3843 15.7863 21.3843 13.519C21.3843 8.02025 16.392 3.52069 10.0713 3.15294Z"/>
                <path d="M11.3198 21.4782L6.36931 26.5889C6.18222 26.7822 5.94178 26.9151 5.67879 26.9707C5.4158 27.0263 5.14223 27.002 4.89311 26.9009C4.64399 26.7998 4.43067 26.6266 4.28046 26.4034C4.13026 26.1801 4.05002 25.9171 4.05 25.6479V20.1721C3.98969 20.1395 3.93027 20.1052 3.8718 20.0694C1.52415 18.593 0 16.2093 0 13.5202C0 9.03952 4.2309 5.40796 9.45001 5.40796C14.6691 5.40796 18.9 9.03952 18.9 13.5202C18.9 17.2058 16.0367 20.3182 12.1149 21.3052C11.8521 21.3726 11.5868 21.4303 11.3198 21.4782Z"/>
                </svg>
        when "nav-item__message-btn"
            button.btn-reset
                <svg class="nav__item__svg__color" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.4295 21.9998C17.4272 21.9998 16.0192 21.6531 13.9107 20.5266C11.3469 19.1516 9.36373 17.8821 6.8137 15.4498C4.35507 13.1 3.15862 11.5787 1.4841 8.6646C-0.407625 5.37439 -0.0851483 3.64972 0.275327 2.91262C0.704611 2.03162 1.33827 1.5047 2.1573 0.981699C2.6225 0.690213 3.1148 0.440344 3.62795 0.235261C3.6793 0.214145 3.72706 0.194011 3.76968 0.175841C4.02386 0.0663309 4.40899 -0.0991622 4.89681 0.0776257C5.22237 0.194502 5.51301 0.433657 5.96797 0.863349C6.90099 1.74336 8.17601 3.70325 8.64637 4.66576C8.96217 5.31447 9.17116 5.74269 9.17168 6.22297C9.17168 6.78525 8.8759 7.21887 8.51697 7.68687C8.4497 7.77477 8.38295 7.85875 8.31824 7.94026C7.92747 8.43134 7.84172 8.57326 7.8982 8.82666C8.01271 9.33591 8.86666 10.8519 10.2701 12.191C11.6734 13.5302 13.2129 14.2953 13.7475 14.4043C14.0237 14.4608 14.1752 14.3753 14.7051 13.9884C14.7811 13.9329 14.8592 13.8754 14.9408 13.818C15.4882 13.4285 15.9206 13.1531 16.4947 13.1531H16.4978C16.9974 13.1531 17.4251 13.3603 18.1338 13.7021C19.0581 14.148 21.169 15.3516 22.0949 16.2449C22.5452 16.679 22.7963 16.956 22.919 17.2668C23.1039 17.7348 22.9298 18.1016 22.8163 18.3472C22.7973 18.3879 22.7763 18.4326 22.7542 18.4822C22.5381 18.9721 22.2752 19.4419 21.9691 19.8857C21.4232 20.6665 20.8702 21.2711 19.9469 21.6821C19.4728 21.8965 18.954 22.0052 18.4295 21.9998Z"/>
                </svg>
        when "nav-item__calls-btn"
            button.btn-reset
                <svg class="nav__item__svg__color nav__item__svg" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.0713 3.15294C11.7993 1.23441 14.5074 0 17.5503 0C22.7694 0 27.0003 3.63156 27.0003 8.11219C27.0003 10.8014 25.4748 13.185 23.1285 14.6614C23.07 14.6973 23.0106 14.7315 22.9503 14.7642V20.2399C22.9503 20.5091 22.87 20.7722 22.7198 20.9954C22.5696 21.2186 22.3563 21.3919 22.1072 21.493C21.8581 21.594 21.5845 21.6183 21.3215 21.5627C21.0585 21.5072 20.8181 21.3742 20.631 21.1809L19.092 19.5936C20.5351 17.8847 21.3843 15.7863 21.3843 13.519C21.3843 8.02025 16.392 3.52069 10.0713 3.15294Z"/>
                <path d="M11.3198 21.4782L6.36931 26.5889C6.18222 26.7822 5.94178 26.9151 5.67879 26.9707C5.4158 27.0263 5.14223 27.002 4.89311 26.9009C4.64399 26.7998 4.43067 26.6266 4.28046 26.4034C4.13026 26.1801 4.05002 25.9171 4.05 25.6479V20.1721C3.98969 20.1395 3.93027 20.1052 3.8718 20.0694C1.52415 18.593 0 16.2093 0 13.5202C0 9.03952 4.2309 5.40796 9.45001 5.40796C14.6691 5.40796 18.9 9.03952 18.9 13.5202C18.9 17.2058 16.0367 20.3182 12.1149 21.3052C11.8521 21.3726 11.5868 21.4303 11.3198 21.4782Z"/>
                </svg>
        when "nav-item__settings-btn"
            button.btn-reset
                <svg class="nav__item__svg__color" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.35323 23L8.89552 19.32C8.6476 19.2242 8.41378 19.1092 8.19408 18.975C7.97438 18.8408 7.76002 18.6971 7.551 18.5437L4.14677 19.9812L1 14.5187L3.94652 12.2762C3.92745 12.1421 3.91791 12.0125 3.91791 11.8875V11.1124C3.91791 10.9875 3.92745 10.8579 3.94652 10.7237L1 8.48125L4.14677 3.01875L7.551 4.45625C7.76078 4.30292 7.9801 4.15917 8.20896 4.025C8.43781 3.89083 8.66667 3.77583 8.89552 3.68L9.35323 0H15.6468L16.1045 3.68C16.3524 3.77583 16.5862 3.89083 16.8059 4.025C17.0256 4.15917 17.24 4.30292 17.449 4.45625L20.8532 3.01875L24 8.48125L21.0535 10.7237C21.0726 10.8579 21.0821 10.9875 21.0821 11.1124V11.8875C21.0821 12.0125 21.063 12.1421 21.0249 12.2762L23.9714 14.5187L20.8246 19.9812L17.449 18.5437C17.2392 18.6971 17.0199 18.8408 16.791 18.975C16.5622 19.1092 16.3333 19.2242 16.1045 19.32L15.6468 23H9.35323ZM12.5572 15.525C13.6634 15.525 14.6074 15.1321 15.3893 14.3463C16.1712 13.5604 16.5622 12.6117 16.5622 11.5C16.5622 10.3883 16.1712 9.43958 15.3893 8.65375C14.6074 7.86792 13.6634 7.475 12.5572 7.475C11.432 7.475 10.483 7.86792 9.71025 8.65375C8.93748 9.43958 8.55148 10.3883 8.55224 11.5C8.55224 12.6117 8.93824 13.5604 9.71025 14.3463C10.4823 15.1321 11.4312 15.525 12.5572 15.525Z"/>
                </svg>
        when "logout-btn"
            button.btn-reset.logout.flex
                <svg class="nav__item__svg__color" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 22C4.73478 22 4.48043 21.8946 4.29289 21.7071C4.10536 21.5196 4 21.2652 4 21V3C4 2.73478 4.10536 2.48043 4.29289 2.29289C4.48043 2.10536 4.73478 2 5 2H19C19.2652 2 19.5196 2.10536 19.7071 2.29289C19.8946 2.48043 20 2.73478 20 3V21C20 21.2652 19.8946 21.5196 19.7071 21.7071C19.5196 21.8946 19.2652 22 19 22H5ZM15 16L20 12L15 8V11H9V13H15V16Z"/>
                </svg>
mixin buttonList(listType)
    case listType
        when "change-theme"
            div.header__change-theme.change-theme.flex
                +svgButton("change-theme__white")
                +svgButton("change-theme__black")
        when "view-chat__buttons"
            ul.view-chat__header__icons.flex
                +svgButton("view-chat__header__button-first")
                +svgButton("view-chat__header__button-second")
                +svgButton("view-chat__header__button-third")
                +svgButton("view-chat__header__button-fourth")