.auth-reg__top {
    height: 207px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
    align-items: center;
}

.auth-reg__top_photo {
    align-self: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #112235;
}

.auth-reg__top_welcome {
    width: 243px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
}

.auth-reg__top_message {
    width: 250px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
}
