$link_active: #0b4d85;
$link_hover: #ffffff; //#003CB2
$link_focus: #3d8aca;

.login-reg-bottom__question {
    text-align: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1rem;
    color: #5B5B5B;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $link_hover;
    }

    &:active {
        color: $link_hover;
    }

    &:focus {
        color: $link_hover;
    }
}
