.svg-button {
    margin-right: 10px;
}

.nav__item__svg__color {
    fill: #46474C;
}

.nav__item__svg__color:hover {
    fill: #166E9D;
}

.logout {
    fill: #ffffff;
    padding-bottom: 50px;
}

.create-btn {
    fill: #3E9AE3;
}

.create-btn:hover {
    fill: red;
}

.leave-group {
    fill: #46474C;
}

.icon {
    fill: #ffffff;
    // position: absolute;
    // right: 5%;
    // bottom: 15%;
}