.chat-card.flex(name!= id)
    .chat-avatar
        != avatar
    .chat-info.flex
        .chat-title
            .font-size-4!= title
        .chat-last-message
            .font-size-5!= lastMessage
.chats__separator

//- .contact.flex(name!= id)
//-     .contact-avatar
//-         != avatar
//-     .contact-info.flex
//-         .contact-nickname
//-             .font-size-4!= nickname
//-         .contact-status
//-             .font-size-5!= status
//- .contacts__separator
