.contact {
  justify-content: start;
  min-width: 100%;
  padding: 10px 20px 0px 20px;
  cursor: pointer;
}

.contact:hover {
  background: #3A3D4D;
    border-radius: 15px;
}

.contact-avatar {
  margin-right: 6%;
}

.contact-info {
  flex-direction: column;
  align-items: flex-start;
}

.contact-nickname {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-status {
  font-size: 14px;
  color: #999;
  min-width: 100%;
}
