.contact.flex(name!= id)
    .contact-avatar
        != avatar
    .contact-info.flex
        .contact-nickname
            .font-size-4!= nickname
        .contact-status
            .font-size-5!= status
