.contact {
  height: 80px;
  width: 286px;
  display: flex;
  background-color: #1C1C24;
}

.contact-avatar {
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-nickname {
  font-weight: bold;
  font-size: 16px;
}

.contact-status {
  font-size: 14px;
  color: #999;
}
