.contact {
  justify-content: start;
  min-width: 380px;
  padding: 10px 20px 0px 20px;
  cursor: pointer;
}

.contact:hover {
  background: #0F0F0F;
}

// .contact:not(:last-child) {
//   margin-bottom: 10%;
// }

.contact-avatar {
  margin-right: 6%;
}

.contact-info {
  flex-direction: column;
  align-items: flex-start;
}

.contact-nickname {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-status {
  font-size: 14px;
  color: #999;
}
