//- include ../Profile/profile.pug
//- include ../Navbar/navbar.pug
//- include ../ui/Button/button.pug

//- - var buttonType = 'change-theme';

//- mixin header()
//-     //- +profile(username)
div.header__img.flex
    img(src="../assets/img/logo.png", alt="Our logo").header__logo
    img(src="../assets/img/geva.png", alt="User avatar").header__user-photo
    //- +navbar(chat)
    //- +button(buttonType)
