.header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 104px;
    background-color: #1E1E1E;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    padding: 16px 27px 0px 27px;
    height: 100vh;
}

.header__img {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__logo {
    margin-bottom: 33px;
}

.header__user-photo {
    margin-bottom: 33px;
}

.header__nav {
    margin-bottom: 0px;
}

.header__change-theme {
    flex-direction: column;
    align-items: center;
    padding: 14px;
    background-color: #16171C;
    border-radius: 20px;
    margin-bottom: 20px;
}

.change-theme__white {
    margin-bottom: 32px;
}

.header-item:not(:last-child) {
    margin-right: 10px;
}

.messages-type__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.message-type__header__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #59585D;
    padding: 0px 10px;
}