include ../profile/profile.pug
include ../navbar/navbar.pug
include ../ui/button/button.pug
include ../ui/header/header.pug

- const pages = {chatPage: 0}
- const headers = {viewHeader: 1, errorHeader: 2, groupInfo: 3}
- const headerConfig = {headerType: ["chatHeader", "viewHeader", "errorHeader", "group-info"], buttonListTypes: ["change-theme"], imagePaths: ["./assets/img/geva.png"]}

mixin header(headerType)
    case headerType
        when headerConfig.headerType[pages.chatPage]
            +profile(headerConfig.imagePaths[pages.chatPage])
            +navbar("navbar")
            +buttonList(headerConfig.buttonListTypes[pages.chatPage])
        when headerConfig.headerType[headers.viewHeader]
            +uiHeader("view-chat__header")
        when headerConfig.headerType[headers.errorHeader]
            h1.header-error
            p.header-error__description
        when headerConfig.headerType[headers.groupInfo]
            div.group-info__header.flex
                +svgButton("chat-info__button")
                img.group-info__header__logo(src="./assets/img/logo.png")
                h3.group-info__header__text Group info 
                hr.group-info__line
