include ../Profile/profile.pug
include ../Navbar/navbar.pug
include ../ui/Button/button.pug

- const pages = {chatPage: 0}
//- TODO: как разместить это на нескольких строках
- const headerConfig = {headerType: ["chatHeader"], buttonListTypes: ["change-theme"], imagePaths: ["./assets/img/geva.png"]}

mixin getHeader(headerType)
    case headerType
        when headerConfig.headerType[pages.chatPage]
            +profile(headerConfig.imagePaths[pages.chatPage])
            +navbar("navbar")
            +buttonList(headerConfig.buttonListTypes[pages.chatPage])
