.view-chat__input-message {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 21px 68px 21px 27px;
    width: 100%;
}

.input-message__user-avatar {
    min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
    margin-right: 20px;
}

.search-field__input {
    height: 30px;
    padding-right: 30px;
    border: none;
    outline: none;
    background: #18171D;
    border-radius: 16px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #494F53;
    min-width: 100%;
    min-height: 100%;
    padding: 18px 10px 18px 18px;
    /* transition: background 0.3 ease-in-out, color 0.3s ease-in-out; */
}

.input-message__text-field {
    position: relative;
    min-width: 100%;
    min-height: 60px;
}

.input-message__text-field__in {
    padding: 0px;
    margin: 0px;
    height: 60px;
    padding-right: 30px;
    outline: none;
    background: #1C1C24;
    border: 1px solid #1B262C;
    border-radius: 10px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #78777C;
    min-width: 100%;
    min-height: 100%;
    padding: 18px 10px 18px 18px;
}

.input-message__text-field__in:focus {
    color: #ffffff;    
}

.message-field__svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-field__input {
    height: 30px;
    padding-right: 30px;
    border: none;
    outline: none;
    background: #18171D;
    border-radius: 16px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #494F53;
    min-width: 100%;
    min-height: 100%;
    padding: 18px 10px 18px 18px;
}

.search-field__svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-field__input:hover {
    background: #C3C2C9;
    color: #232424; 
    fill: #232424;
}

.empty-nick {
    
}