include ../chatCard/chatCard.pug
include ../ui/button/button.pug

- const chatTypeConfig = {PIN: "PIN", GROUPS: "GROUPS", ALL: "ALL"}

mixin chatType(chatType, chatHeader, cardImage)
    div.messeges-type.flex
        div.messages-type__header.flex
            case chatType
                when chatTypeConfig.PIN
                    +svgButton("chat-header__icon-first")
                when chatTypeConfig.GROUPS
                    +svgButton("chat-header__icon-second")
            h3.header-item.message-type__header__title !{chatHeader}
            +svgButton("chat-header__icon-third")
        ul.list-reset.messages-type__list.flex
            +chatCard("chatCard", cardImage, "Akaza", "Hi, i'm akaza", 1, "12:00")
            if chatTypeConfig.ALL == chatType
                - for (let i = 0; i < 10; i++)
                    hr.item-divider
                    +chatCard("chatCard", cardImage, "Akaza", "Hi, i'm akaza", 1, "12:00")