.title__left-side__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 8px;
}

.title__left-side__text__count {
    justify-content: center;
    min-width: 25px;
    min-height: 12px;
    border-radius: 5px;
    background-color: #FC3F1D;
    margin-bottom: 15px;
    font-family: 'SF Pro Display';
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    min-width: 25px;
    padding: 2px;
}