header.sidebar-header.flex
    .header__img.flex
        button.btn-reset
            != UserImage
    nav.nav.header__nav.flex
        .nav__list.flex
            each item in NavList
                != item
    !=LogoutBtn
    