input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.chats__header__input__search {
    min-height: 100%;
    background-image: url('./search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 15px;
    border-radius: 15px;
    background-color: #18171D;
    padding: 10px 10px 10px 30px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D4DCE2;
}
  