include ../button/button.pug

mixin uiHeader(headerType, title, messCount)
    case headerType
        when "chat-list__header"
            div.chat-list__header.chat-list__child.flex
                div.chat-list__header__title__left-side.title__left-side.flex
                    h2.title__left-side__text !{title}
                    span.flex.title__left-side__text__count !{messCount}
                +svgButton("chat-list__header__write-message-button")
        when "view-chat__header"
            div.view-chat__header.flex
                div.view-chat__header__companion.flex
                    img(src="./assets/img/iii.png").header__companion__ava
                    div.header__companion__info.flex
                        h4.companion__info__title Daniil Zelenko
                        span.companion__info__time online 20 min ago
                +buttonList("view-chat__buttons")
