$bot-width: 332px;

.blue-button {
    width: $bot-width;
    height: 42px;
    background: linear-gradient(281.98deg, #667db6 -35.95%, #0082c8 22.49%, #0082c8 80.94%, #667db6 139.38%);
    border: 0px;
    border-radius: 6px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &:hover {
        background: linear-gradient(281.98deg, #667db6 -35.95%, #00a6ff 22.49%, #0e98e2 80.94%, #667db6 139.38%);
    }
}
