.login {
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__item {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.login__item:not(:last-child) {
    margin-bottom: 15px;
}

.login__password {
    flex-direction: column;
    align-items: flex-end;
}

.login__password__input-eye {
    display: flex;
    flex-direction: row;
}

.login__password__eye {
    margin-top: 14px;
    margin-left: 10px;
    width: 19px;
    height: 11px;
}

.login__password__password-recovery {
    margin-right: 29px;
    text-align: right;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #5B5B5B;
}

.login__password__password-recovery:hover {
    color: #a0a0a0;
}
