html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

section {
    margin: 0px;
    padding: 0px;
}

.chat-page {
    width: 100%;
    min-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #131318;
}

.list-reset {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.btn-reset {
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.indents-reset {
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
}

.vertical-container {
    min-width: 1920px;
    margin: 0px;
    padding: 0px;
}

.header-offset {
    margin-bottom: 0px;
}

.section-offset {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
}

.main {
    height: 100vh;
}

#root {
    min-width: 100%;
    height: 100vh;

    /* display: grid;
    grid-template-columns: [sidebar-start] 104px [sidebar-end static-start] 380px [static-end dynamic-start] auto [dynamic-end]; */
    
    background-color: #131318;
}

.font-size-1 {
    width: 203px;
    height: 29px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.font-size-2 {
    width: 88px;
    height: 19px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #696969;
}

.font-size-3 {
    width: 131px;
    height: 14px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #696969;
}

.font-size-4 {
    width: 230px;
    height: 29px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-left: 15px;
    text-align: left;
    color: #FFFFFF;
}

.font-size-5 {
    width: 230px;
    height: 19px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
    text-align: left;
    color: #696969;
}

.font-size-6 {
    width: 286px;
    height: 29px;

    margin-bottom: 20px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

@import "./assets/fonts/fonts.css";
@import "./components/chatCard/chatCard.css";
@import "./pages/chat/chat.css";
@import "./pages/error/error.css";
@import "./components/header/header.css";
@import "./components/ui/input/input.css";
@import "./components/navbar/navbar.css";
@import "./components/ui/header/header.css";
@import "./components/chatList/chatList.css";
@import "./components/chatCard/chatCard.css";
@import "./components/list/list.css";
@import "./components/chatType/chatType.css";
