doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Technogram
        include ./components/ui/auth-reg/auth-reg__top/auth-reg__top.pug
        style
            include ./components/ui/font.css
            include ./components/ui/auth-reg/auth-reg__top/auth-reg__top.css
    body 
        +authRegTop('Get started now!')
