doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Technogram
        style
            include ./reg/reg.css
            include ./auth/auth.css
            include ./components/ui/font.css
            include ./components/ui/auth-reg/auth-reg__bottom/auth-reg__bottom.css
            include ./components/ui/auth-reg/auth-reg__top/auth-reg__top.css
            include ./components/ui/auth-reg/auth-reg__input/auth-reg__input.css
    body(style="background: #131318;")
        //- include ./reg/reg.pug
        include ./auth/auth.pug
