.login-reg-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.login-reg-bottom__button {
    height: 42px;
    background: linear-gradient(281.98deg, #667DB6 -35.95%, #0082C8 22.49%, #0082C8 80.94%, #667DB6 139.38%);
    border: 0px;
    border-radius: 6px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.login-reg-bottom__button:hover {
    background: linear-gradient(281.98deg, #667DB6 -35.95%, #00A6FF 22.49%, #0E98E2 80.94%, #667DB6 139.38%);
}

.login-reg-bottom__question {
    text-align: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #5B5B5B;
}

.login-reg-bottom__question:hover {
    color: #a0a0a0;
}
