.login__item.login-reg-bottom
    if type === 'login'
        button.login-reg-bottom__button.login-but Войти
        a.login-reg-bottom__question.login-ques(href='/signup') Ещё нет аккаунта? Зарегистрироваться
    else if type === 'reg'
        button.login-reg-bottom__button.reg-but Зарегестрироваться
        a.login-reg-bottom__question.reg-ques(href='/login') Уже есть аккаунт? Войти
