.contacts.flex
    .contacts__head.flex
        !=headContacts
        //- !=dropdown
        //.font-size-6!= headContacts
    .contacts__separator
    .contacts__contacts.flex
        for i in contacts
            != i
