.contacts
    .contacts__head
        .font-size-6!= headContacts
    .contacts__separator
    .contacts__contacts
        for i in contacts
            != i
    .contacts__separator
    .contacts__add-contact
        != addContactButton
