.contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1C1C24;
  min-width: 380px;
}

.contacts__head {
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  min-height: 8%;
  min-width: 100%;
}

.contacts__contacts {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 100%;
  overflow: auto;
}

.contacts__add-contact {
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 8%;
  background: #1C1C24;
}

.contacts__separator {
  min-width: 100%;
  border: 1px solid #4A4E50;
  background: #1C1C24;
}
