.contacts
    .contacts__head
        .font-size-6!= headContacts
    .contacts__separator
    .contacts__contacts
        ul
          for i in contacts
            li!= i
.contacts__add-contact
    .contacts__separator
    != addContactButton
