.contacts {
  background: #1C1C24;
  position: relative;
  height: 1000px;
  width: 286px;
}

.contacts__head {
  padding-top: 45px;
  text-align: center;
}

.contacts__add-contact {
  text-align: center;
  width: 286px;
  height: 85px;
  background: #1C1C24;
}

.contacts__separator {
  width: 286px;
  border: 1px solid #4A4E50;
  background: #1C1C24;
}
