.change-group {
    min-height: 100%;
    min-width: 100%;
}

.change-group__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    min-height: 100%;
}

.change-group__name {
    margin-bottom: 10px;
}

.change-group__input {
    margin-bottom: 15px;
}

.change-group__members-list {
    flex-direction: column;
    // align-items: center;
    justify-content: start;
    min-width: 30%;
    height: 100vh;
    background-color: #1C1C24;
    overflow: auto;
}

.chat-group__members-list__header {
    // margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
}

// .separator-offset {
//     margin-bottom: 10px;
// }