.input__errors {
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 50px;
}

.login-reg__error {
    font-family: 'SF Pro Display';
    color: #FF0000;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 16px;
}

.invisible {
    display: none;
}

.login-reg__input {
    min-width: 332px;
    min-height: 42px;
    background: #181B23;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 0px;
    margin-bottom: 7px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 16px;
    color: #FFFFFF;
}

.login-reg__input_error {
    filter: drop-shadow(0px 4px 20px #FF0000);
}
