.login__item.flex
    if type=='email'
        input(type='email', placeholder='Почта').login-reg__input.flex.email
        div.input__errors.flex
            span.empty-email.login-reg__error.invisible Почта не может быть пустой
            span.missdog-email.login-reg__error.invisible Не найден символ @
            span.invalid-email.login-reg__error.invisible Такая почта не зарегистрирована
            span.occupied-email.login-reg__error.invisible Уже есть аккаунт с такой почтой
    else if type=='password'
        input(type='password', placeholder='Пароль').login-reg__input.flex.password
        div.input__errors.flex
            span.empty-password.login-reg__error.invisible Пароль не может быть пустым
            span.invalid-password.login-reg__error.invisible Пароль слишком короткий
            span.incorrect-password.login-reg__error.invisible Введен неверный пароль
    else if type=='nickname'
        input(type='text', placeholder='Ваш никнейм').login-reg__input.flex.nickname
        div.input__errors.flex
            span.empty-nickname.login-reg__error.invisible Никнейм не может быть пустым
            span.invalid-nickname.login-reg__error.invisible Никнейм слишком короткий
    else if type=='confirm password'
        input(type='password', placeholder='Подтверждение пароля').login-reg__input.flex.confirm-password
        div.input__errors.flex
            span.empty-confirm-password.login-reg__error.invisible Подтверждение пароля не может быть пустым
            span.invalid-confirm-password.login-reg__error.invisible Неверное подтверждение пароля
