if Side
    .messages__message.message-right.flex
else
    .messages__message.message-left.flex
        .message__avatar.flex
                !=MessageAvatar
            .message__right-side.flex
                .message__right-side__username
                    !=Username
                .message__right-side__text-content
                    !=MessageText
