if Side
    .messages__message.message-right.flex(name = id)
        .message__avatar.flex
            !=MessageAvatar
            .message__right-side.flex
                .message__right-side__username
                    !=Username
                .message__right-side__text-content.flex
                    .message__right-side__text-content-text(name = id)
                        !=MessageText
                    .message-three-dots!=TreeDots
else
    .messages__message.message-left.flex(name = id)
        .message__avatar.flex
            !=MessageAvatar
            .message__right-side.flex
                .message__right-side__username
                    !=Username
                .message__right-side__text-content.flex
                    .message__right-side__text-content-text(name = id)
                        !=MessageText
                    .message-three-dots!=TreeDots
