.message {
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    background-color: transparent;
    margin-bottom: 10px;

    &__left {
        justify-content: flex-start;
    }

    &__right {
        justify-content: flex-end;
        
        .message__content {
            background: #8774E1;
        }
    }

    &__avatar {
        margin-right: 10px;
    }

    &__nickname {
        margin-bottom: 10px;
    }

    &__image {
        margin-bottom: 10px;
    }

    &--sticker {
        .message__content {
            background-color: inherit;
        }
    }

    &__content {
        max-width: 60%;
        flex-direction: column;
        justify-content: end;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }

    &__body {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 19px;
        color: #FFFFFF;

        max-width: 100%;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
    }
}
