include ../components/ui/auth-reg/auth-reg__top/auth-reg__top.pug
include ../components/ui/auth-reg/auth-reg__bottom/auth-reg__bottom.pug
include ../components/ui/auth-reg/auth-reg__input/auth-reg__input.pug

block auth 
    .auth
        +authRegTop('Glad to see you!')
        +authRegInput('email')
        .auth__password 
            .auth__password__input-eye
                +authRegInput('password')
                .auth__password__eye
                    include eye.svg
            a.auth__password__password-recovery(href='#') Forgot password?
        +authRegBottom('Login')
