.list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-header__list__item {
    background-color: (0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    flex: none;
    order: 3;
    flex-grow: 0;
}


.popup__btn-list {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.profile__form__list {
    flex-direction: row;
    justify-content: space-between;
}
