.error {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.error-back {
    fill:white;
}

.error-back:hover {
    fill:#3E3F43;
}

.error-back-button {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
    fill:#3E3F43;
}